@font-face {
  font-family: 'Megrim';
  src: url('../Fonts/Megrim-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Offside';
  src: url('../Fonts/Offside-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Infant';
  src: url('../Fonts/YsabeauInfant-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.rotate {
 width: 100px; /* размер картинки */
 height: 100px;
 animation: spin 5s linear infinite;
}

@keyframes spin {
 from { transform: rotate(0deg); }
 to   { transform: rotate(360deg); }
}

.MinorTextEn {
  font-family: offside;
  color: #0035A1;
}

.MajorTextEn {
  font-family: offside;
  color: #00d796;
}

.MinorTextRu {
  font-family: infant;
  color: #0035A1;
}

.MajorTextRu {
  font-family: infant;
  color: #00d796;
}
